.modal .modal-dialog .modal-footer .btn {
  float: inherit;
}

.modal .modal-dialog .modal-header .modal-title {
  font-size: 18px;
}

div.UserAdded-iconSection,
div.ImportedCSVModal-iconSection {
  text-align: center;
  margin-top: 15px;
}

div.UserAdded-iconSection > i,
div.ImportedCSVModal-iconSection > i {
  background-color: #f1f1f1;
  border-radius: 50px;
  padding: 15px 20px 3px 20px;
  color: white;
  font-size: 60px;
}
