<form className="form-horizontal" id="change-password-form" onSubmit="return handleSubmit();">

  <div className="form-group">
    <label className="control-label col-xs-2">Password</label>
    <div className="col-xs-10">
      <input className="form-control" type="password" placeholder="your password" id="password" required />
    </div>
  </div>

  <div className="form-group">
    <label className="control-label col-xs-2">Retype Password</label>
    <div className="col-xs-10">
      <input className="form-control" type="password" placeholder="retype password" id="retype-password" required />
    </div>
  </div>

  <div id="message"></div>

  <div className="form-group">
    <button className="btn btn-primary"  id="saveBtn">
      Save
    </button>
  </div>
</form>
